*{margin: 0;
    padding:0 ;}

    .header {
        min-height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
        background-image: url(background.png);
        background-position: center;
        background-size: cover;
        position: relative;
        padding-left: 8% ;
        padding-right: 8%;
        box-sizing: border-box;
    
    }
       .header{
           content: '';
           position: absolute;
           left: 0;
           height: 100%;
           width: 100%;
           background-color:black;
           opacity: .9;  
       }
    .navbar{
        display: flex;
        height: 12%;
        align-items: center;
    }
    .logo{
        width: 50px; 
        cursor: pointer;
    }
    
    nav{
        flex: 1;
        text-align: right;
    }

   nav ul li {
       list-style: none;
       display: inline-block;
       margin-left: 60px;
   }
   nav ul li a{
       text-decoration: none;
       color: #fff;
       font-size: 16px;
       font-family: Arial, Helvetica, sans-serif;

   }
   nav ul li::after{
    content :'';
    width :0%;
    height: 5px;
    background: blue;
    display: block;
    margin:auto ;
    transition: 0.5s;
    }
    nav ul li:hover::after{
        width: 100%;   
    }
   .row{ 
       display: flex;
       height: 88%;
       align-items: center;
   }
   .col{
       flex-basis: 50%;
       font-family: Arial, Helvetica, sans-serif;
   }
   h1{
       color: #fff;
       font-size: 100px;
   }
   p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
   }
   button{
       width: 180px;
       color: #000;
       font-size: 12px ;
       padding: 12px 0;
       background: #fff;
       border: 0;
       border-radius: 20px;
       outline: none;
       margin-top: 30px;
   }
   button:hover{
    background:blue;
    transition: 1s;
   }
   .card{
       width: 200px;
       height: 230px;
       display: inline-block;
       border-radius: 10px;
       padding: 15px 25px;
       box-sizing: border-box;
       cursor: pointer;
       margin: 10px 15px;
       background-position: center;
       background-size: cover;
      transition:trasform 0.5s ;
   }
   .card1{
    background-image: url(pic-1.png);
   }
  .card2{
    background-image: url(pic-2.png);
   }
   .card3{
    background-image: url(pic-3.png);
   }
   .card4{
    background-image: url(pic-4.png);
   }
   .card:hover{
       transform: translateY(-10px);

   }
   h5{
       color: #fff;
       text-shadow: 0 0 5px #999;

   }
   .card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;

   }